---
title: "{{ values.front_matter.title }}"
date: {{ values.front_matter.date }}
summary: "{{ values.front_matter.summary }}"
logo: "{{ values.front_matter.logo }}"
tags: {{ values.front_matter.tags }}
draft: {{ values.front_matter.draft }}
---

## Box info
{{ values.box.box_info_table}}

## Foothold
### Nmap
The usual `nmap` command, to know where to start:

```
{{ values.nmap }}
```

### 

## Vulnerabilities
### 


### 